<% if notice %>
	<div class="container">
		<div class="alert alert-info my-4"><span class="d-block"><%= notice %></span></div>
	</div>
<% end %>
<% if alert %>
	<div class="container">
		<div class="alert alert-danger my-4"><span class="d-block"><%= alert %></span></div>
	</div>
<% end %>