<footer class="py-5 bg-dark small">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center small">
    		<span class="d-block small letter-spacing-2 text-primary text-uppercase font-headline text-uppercase"><i class="far fa-copyright"></i> <%= Time.now.strftime("%Y") %> Poliferate</span>
    	</div>
  	</div>
	</div>
</footer>