

<div class="bg-light p-4">
	<h1>New Organization</h1>
	<%= render 'form', organization: @organization %>
</div>

<%= link_to organizations_path, class: "d-block text-secondary small mt-4" do %>
<i class="fa fa-angle-double-left fa-sm"></i> Back
<% end %>
